*{
    margin: 0 0 0 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:whitesmoke;
    
    
}
.container{
    font-size: 50px;
    text-align: center;
    margin-top: 250px;
    
}
.span1{
    font-size: 100px;
    box-shadow: 2px 5px 4px 3px;
}
.class1{
    text-shadow: 4px 6px 3px ;
}
.button-container{
    box-shadow: 2px 5px 4px;
}

